*{
    margin: 0%;
    border: 0;
    box-sizing: border-box  ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: darkslategrey;
    display: flex;
    justify-content: center ;
    align-items: center;
    /* flex-direction: column; */
}

.main{
    width: 100%;  
    padding: 30px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
   
}




#question{
    width: 500px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    /* border: 1px solid red   ; */
}

.container{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red   ; */
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    padding: 25px;
    background-color: rgb(73, 73, 224);

}

.options{
    /* border: 1px solid red; */
    width: 100%;
    
    /* max-width: 800px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.options input{
    width: 70%;
    /* border: 1px solid red; */
    text-align: center;
    background-color: darkslategrey;
    padding: 8px;
    cursor: pointer;
 
    color: white;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 300;
}
.options p:hover{
    background-color: gray;
    
}
.buttons{
    display: flex;
    gap: 30px;
}
#submit_test{
   display: none; 
}

.result_div{
    display: none;
    text-align: center;   
    padding: 30px;
}

h2{
    font-size: 40px;
    color: wheat;
}

.showScore{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.showScore h3{
    font-size: 30px;
    font-weight: bold;
}


.buttons{
    background-color: darkslategray;
}
.buttons button, #start_quiz{
    width: 200px;
    background-color: white;
    border: none;
    padding: 5px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

#next_question{
    display: none;
}

@media screen and (max-width:500px) {
    .options input {
        width: 100%;
    }

    #question {
        width: 330px;
    }

}
@media screen and (max-width:320px) {
    .options input {
        width: 236px;
    } 

    #question{
        font-size: 15px;
    }

   

}

